*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #EBF0F4;
    font-family: "Helvetica";
}

.clear{
    clear: both;
}

/*Compose ve Mail Wrapperları olmak 
üzere iki bölüme ayırdım*/

.wrap_compose{
    float: left;
    width: 23%;
}

/* "compose" */
.compose{
    color: #fff;
    text-align: center;
    background-color: #1C8EB7;
    border-style: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Her bloktan sonra border oluşsun
diye bir border classı yaptım*/
.border{
    border-bottom: solid 1px #F4F4F4;
}

/* Folders And Labels*/
.header{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.header .title{
    font-size: 15px;
    padding: 10px;
}

.wrap_compose .under_title{
    font-size: 12px;
}

.wrap_compose .under_title ul{
    padding-left: 0px;
}

/* border sınıfını index.html'de
sürekli kullanmak yerine her listenin 
sonunda kendi ekleyecek*/

.wrap_compose ul li{
    border-bottom: solid 1px #F4F4F4;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.under_title ul li,
.icon ul li{
    padding:10px 15px 10px 15px;
}

.wrap_compose ul li:first-child{
    padding-top: 0px;
}

.under_title .fas,.under_title .far
{
    width: 20px;
}

/*Inbox ve Junk'taki notification'lar*/
.button1,.button2{
    float: right;
    color: #fff;
    text-align: center;
    font-size: 5px;
    width: 7%;
    border-radius: 2px;
    padding: 1px;
}

.button1{
    background-color: #1C8EB7;
}

.button2{
    background-color: #FE9739;
}

.wrap_mail{
    float: right;
    width: 75%;
    background-color: #fff;
    border-style: solid;  /*Surayi ayri yazmadigimda yemedi**??*/
    border-width: 1px;      
    border-color: white;
    border-radius: 5px;
    border-top-color:#1C8EB7;
    border-top-width: 3px;    
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/*BURADA KALDIM DEVAM ET*/
.read_mail{
    padding: 15px;
    font-size: 15px;
}

.read_mail a i{
    padding-left: 15px;
    color: #949FB0;
}

.message_subject{
    padding: 15px;
    padding-bottom: 10px;
}

.from{
    font-size: 10px;
    padding-top: 5px;
}

.date{
    float: right;
    color: #AE9EB8;
}

.icon{
    padding: 1px 0px 5px  350px;
}

.icon ul{
    margin-top: 5px;
}

.icon ul li{
    float:left;
    list-style-position:inside;
    border: 1px solid #DCDCDC;
    background-color: #F4F4F4;
    border-right: none;
    line-height: 0px;
    font-size: 5px;
}

.icon ul li:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.icon ul li:nth-child(3){
    border: 1px solid #DCDCDC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon ul li:last-child{
    margin-left: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}

.text{
    padding: 15px;
    font-size: 12px;
}

.text p{
    line-height: 140%;
    
}

.photo{
    float: left;
    padding: 10px;
}

.picture{
    float:left;
    margin-right: 20px;
}

.pdf{
    float: left;
    margin-right: 20px;
}

.pdf .image{
    width : 170px;
    height: 100px;
    text-align: center;
    padding: 20px 0px;
    border: solid 1px #F4F4F4;
}

.image .far{
    color: #666666;
}

img{
    display: block;
    width: 170px;
    height: 100px;
}

.name_document{
    font-weight: bold;
    font-size: 10px;
    color: #666666;
    background-color: #F4F4F4;
    padding: 10px;
    width: 170px; 
    /*width eklememin sebebi
    zoom yaptığımda aksi kaymaları önlemek*/
}

.kb{
    padding-top: 5px;
    color: #c0bcc0;
    padding-bottom: 5px;
}

.info{
}

.right{
    float: right;
    color: black;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 4px;
    background: #F4F4F4;
}

.footer{
    margin-right: 10px;
    font-size: 10px;
    padding-top: 10px;
}

.footer .left_button{
    float: left;
    padding-left: 15px;
}

.button ul{
    padding-left: 0px;
}

.button ul li{
    float: left;
    padding: 0px;
    padding-right: 5px;
}

.button_border{
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.footer .right_buttons{
    float: right;
}

